<div class="toc three wide column ">
    <div class="toc bg "></div>
    <div class="ui vertical inverted sticky menu" style="width: 250px !important; left: 0px; top: 0px;">
        <div class="item center">
            <button class="ui icon button large" [routerLink]="['Home']">
                <i class="icon home"></i>
            </button>
        </div>
        <a class="item" href="#/">
            <b>Home Page</b>
        </a>
       
        <div class="item">
            <div class="active  header">School of Computer science</div>
            <div class="menu">  
                <a class="item" [routerLink]="['HierarchicalBarChart']" >Department's' Bar Chart</a>                                      
                <a class="item" [routerLink]="['StackedBarChart']" >Course section Bar Chart</a>                               
                                              
            </div>
        </div>
    </div>	
</div>  